.twenty48 {
  margin: calc(var(--pixel-size) * 0) auto;
  padding: calc(var(--pixel-size) * 1);
  width: 100%;
  max-width: calc(var(--pixel-size) * 37);
}

@media (min-width: 512px) {
  .twenty48 {
    max-width: calc(var(--pixel-size) * 60);
  }
}

.twenty48 > header {
  display: flex;
  align-items: center;
  margin: calc(var(--pixel-size) * 1) calc(var(--pixel-size) * 0);
}

.twenty48 > header > * {
  flex: 1;
}

.twenty48 > footer {
  margin: calc(var(--pixel-size) * 3) calc(var(--pixel-size) * 0);
  font-weight: 600;
  text-align: center;
}

.twenty48 > footer > .socials {
  display: flex;
  justify-content: center;
  margin-bottom: calc(var(--pixel-size) * 2);
}

.twenty48 > footer > .socials > a > img {
  vertical-align: middle;
  margin: calc(var(--pixel-size) * 0.5);
}

@media (min-width: 512px) {
  .twenty48 > footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
  }

  .twenty48 > footer > div {
    width: 100%;
  }

  .twenty48 > footer > .socials {
    justify-content: right;
    margin-bottom: calc(var(--pixel-size) * 0);
  }

  .twenty48 > footer > .socials > a > img:last-child {
    margin: calc(var(--pixel-size) * 1);
    margin-right: calc(var(--pixel-size) * 0);
  }
}

.twenty48[data-share-mode="true"] {
  max-width: none;
  width: fit-content;
  padding: calc(var(--pixel-size) * 3);
}

.twenty48[data-share-mode="true"] > header {
  justify-content: space-between;
  gap: calc(var(--pixel-size) * 3);
  margin: 0 0 calc(var(--pixel-size) * 3) 0;
}

.twenty48[data-share-mode="true"] > header > * {
  flex: 0 0 auto;
}

.twenty48[data-share-mode="true"] > header > h1 {
  flex: 1;
  margin: 0;
  font-size: calc(var(--pixel-size) * 9.5);
  line-height: calc(var(--pixel-size) * 9.5);
}

.twenty48[data-share-mode="true"] > footer {
  display: none;
}
