.score {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: calc(var(--pixel-size) * 0.75);
  color: var(--tile-background);
  font-size: calc(var(--pixel-size) * 1.5);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.score > .block {
  background: var(--secondary-background);
  border: calc(var(--pixel-size) * 0.5) solid var(--secondary-background);
  border-radius: calc(var(--pixel-size) * 0.75);
  line-height: calc(var(--pixel-size) * 3);
}

.score > .block > div {
  font-size: calc(var(--pixel-size) * 2.5);
  color: var(--secondary-text-color);
}

@media (min-width: 512px) {
  .score {
    font-size: calc(var(--pixel-size) * 2);
    gap: calc(var(--pixel-size) * 1);
  }

  .score > .block {
    border: calc(var(--pixel-size) * 1) solid var(--secondary-background);
    line-height: calc(var(--pixel-size) * 3.5);
  }

  .score > .block > div {
    font-size: calc(var(--pixel-size) * 3.5);
  }
}

:global([data-share-mode="true"]) .score {
  margin-bottom: 0;
  gap: calc(var(--pixel-size) * 2);
  font-size: calc(var(--pixel-size) * 2);
}

:global([data-share-mode="true"]) .score > .block {
  border-radius: calc(var(--pixel-size) * 0.9);
  padding: calc(var(--pixel-size) * 2) calc(var(--pixel-size) * 2.5);
  min-width: calc(var(--pixel-size) * 12);
  line-height: calc(var(--pixel-size) * 3.4);
}

:global([data-share-mode="true"]) .score > .block > div {
  font-size: calc(var(--pixel-size) * 3);
}
